.contactCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    border-radius: 10px;
    font-size: 14px;
    background-color: #f9f2ec;;
    padding:8px;
}


.contactName , .listingName{
    font-weight:300;
}

.messageArea{
    height:100px;
    border: 0;
    border-radius: 10px;
    padding:10px;
}

.mailButton{
    margin-left: 260px;
    background-color:#cc9966;
    border-radius: 20px;
    padding:5px;
    color: white;
    font-size: 12px;
    font-weight: 300;
    transform: scale(1);
    transition: transform 0.2s ease-in;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.mailButton:hover{
    transform: scale(1.1);
}

.closeButton{
    position: relative;
    right:165px;
    top:10px;
    background: transparent;
    border: 0;
}

.closeButton img{
    height: 15px;
    width:15px;
    cursor: pointer;
}

.contact{
    background-color: transparent;
    color:white;
    font-size: 16px;
    border:0;
  }

  .contact img{
    cursor: pointer;
  }





