.container {
    position: absolute;
    display: flex;
    width:100vw;
    align-items: center;
    justify-content: center;
    padding: 6px 0 6px 0;
    gap:700px;
    z-index: 5;
    background-color:white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    overflow: visible;
    /*text-shadow: 0 1px 1px #fff;*/
}


.black{
    color:#c68c53;
}
.white{
    color:#c68c53;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    color:white;
}

.menu a{
    color:#c68c53;;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;

}

.profile {
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.active{
    background-color:#f9f2ec;
    border-radius: 10px;
    padding: 5px;;
}
