.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    color:black;
    background-color:#f9f2ec;
    padding:70px;
    width:50%;
    border-radius: 50px;
    gap:30px;
}

.list h1{
    color:black;
    border-left : 5px solid #c68c53;
    font-size:16px;
    padding-left:5px;
    font-weight: 500;
}

.information{
    display: flex;
    flex-direction:column;
    gap:15px;
}

.information span{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
}

.information input{
    height:30px;
    border:0;
    border-radius: 10px;
    padding:5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.information textarea{
    height:200px;
    border:0;
    border-radius: 10px;
    padding:5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.information input[type= 'checkbox']{
    height:20px;
}

.box{
    display: flex;
    gap:10px;
    align-items: center;
}

.bhk{
    display: flex;
    gap:15px;
    align-items:center;
}


.imageUpload{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}

.imageUpload button{
    background-color: #ccc;
    cursor: pointer;
    color:black;
    border:0;
    border-radius: 10px;
    height:35px;
    width:80px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.imageUpload button:hover{
    opacity: 0.8;
}


.imageUpload input{
    background-color: white;
    padding:10px;
}

.imageInput{
    display: flex;
    gap:10px;
    align-items: center;
}

.lightgrey{
    color:grey
}

.createListButton{
    color:white;
    text-transform: uppercase;
    background-color: black;
    border:0;
    width:100px;
    height:35px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.createListButton:hover{
    opacity: 0.8;
}

.red{color:red}

label{
    text-transform: uppercase;
    padding-right: 10px;
    font-weight: 300;
    font-size: 12px;
}

.imageBox{
    display: flex;
    align-items: flex-start;
    gap:30px;
    border: 1px solid light grey;
    padding:5px;
}
.images{
    height: 150px;
    width:150px;
}

.cross{
    height: 10px;
    width: 10px;
}

.imageBox button{
    background: transparent;
}

.imagesList{
    display: flex;
    overflow: scroll;
    background-color: white;
    height:190px;
    width:600px;
    gap:10px;
}

.buttons{
    display: flex;
    gap:10px;
}

.backButton{
    color:black;
    text-transform: uppercase;
    background-color: white;
    border:0;
    width:100px;
    height:35px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.backButton a{
    text-decoration: none;
    color:black;
}

.backButton:hover{
    opacity: 0.8;
}









