.signuppage {
    display: flex;
    position: relative;
    left:375px;
    bottom:70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 20px;
    font-size: 11px;
    width:400px;
    padding:64px;
    border-radius: 50px;
    background-color: rgba(255,255,255,0.6);
}


.signupform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.signupform input {
    height: 15px;
    width: 300px;
    border:0;
    border-radius: 50px;
    padding: 10px 10px 10px 30px;
}

.signupform input::placeholder{
    margin-left:25px;
}

.signupform button {
    height: 32px;
    width: 335px;
    border:0;
    border-radius: 50px;
   
}

.signupform button:hover{
    opacity: 0.9;
    cursor: pointer;
}

.signup{
    background-color: dodgerblue;
}

.account{
    display: flex;
    gap:5px;
    font-size: 12px;
}

.account a{
    text-decoration: none;
    color:darkblue;
}